@using Microsoft.AspNetCore.Identity
@using WahsKeyClubSite.Areas.Identity.Data
@using WahsKeyClubSite.Backend
@inject UserManager<User> UserManager
@inject ServiceHoursDbContext HoursDbContext
@model bool

@{
    ViewData["Title"] = "Home";
    ViewData["Header"] = "Welcome to the WAHS Key Club service hour registry!";
}

<body>

<div class="row">
    <div class="column">
        <h2>About This Website</h2>
        <img src="~/images/keyclubicon.png" alt="Key Club International Icon" class="img-wrap-left"/>
        <p>The WAHS Key Club service hour registry is a place for club members to log their community service hours and for club administrators to view statistics relating to community service hours. For updates on club activity and other information, please visit our <a href="">main website</a>. <b>NOTE:</b> To prevent database overflow, seniors will have their accounts automatically deleted a several weeks after graduation. However, you may <a href="/Home/Contact"> request</a> an account activity record.</p>
    </div>
    
    <div class="column">
        @{
            var hours = HoursDbContext.ServiceHours;
            var totalHours = new Dictionary<User, double>(UserManager.Users.Count());

            foreach(var user in UserManager.Users)
            {
                if(user.EmailConfirmed)
                {
                    totalHours.Add(user, (from entry in hours where entry.UserId == user.Id select entry.Hours).Sum());
                }
            }

            double maxHours = totalHours.Max(pair => pair.Value);
            var userWithMax = totalHours.FirstOrDefault(entry => Math.Abs(entry.Value - maxHours) < 0.001).Key;

            double Median(List<double> set)
            {
                set.Sort();
                double medianPos = (double) (set.Count - 1) / 2;
                return (set[(int) Math.Floor(medianPos)] + set[(int) Math.Ceiling(medianPos)]) / 2;
            }
        }
        <h2>Community Service Statistics</h2>
        <p>As of today, the club has achieved the following since June 12th, 2018 (when this site was launched):</p>
        <ul style="font-size: larger; font-weight: bold">
            <li>@((from user in UserManager.Users where user.EmailConfirmed select user).Count()) active members</li>
            <li>@Math.Round((from entry in HoursDbContext.ServiceHours select entry.Hours).Sum()) community service hours</li>
            <li>A median of @Math.Round(Median(totalHours.Values.ToList())) community service hours per member</li>
        </ul>
        <p>Congratulations to <strong>@userWithMax.Name</strong>, our most active member, who has logged a grand total of <strong>@Math.Round(maxHours) community service hours!</strong></p>
        <p>Help us serve our community even more by joining the club!</p>
    </div>
</div>

</body>