@using Microsoft.AspNetCore.Identity
@using WahsKeyClubSite.Areas.Identity.Data
@model WahsKeyClubSite.Models.ServiceHours
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Service Hours</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            if(UserManager.GetUserAsync(User).Result.IsDeveloper())
            {
                <dt>
                    @Html.DisplayNameFor(model => model.UserId)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.UserId)
                </dd>
            }
        }
        <dt>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateSubmitted)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DateOfActivity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DateOfActivity)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Hours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Hours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Activity)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Activity)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
