@using Microsoft.AspNetCore.Identity
@using WahsKeyClubSite.Areas.Identity.Data
@model Dictionary<User, double>
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Hour Logs";
    ViewData["Header"] = "View and delete entries in the service hour logs. This page should only be visible to users with admin privileges.";
}

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="Index">Entries</a>

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="UserTotals">User Totals</a>

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="QuarterlyTotals">Quarterly Totals</a>

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="MonthlyTotals">Monthly Totals</a>

@{
    if(UserManager.GetUserAsync(User).Result.IsDeveloper())
    {
        <a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="SubmitDeveloper">Submit Hours (Dev Only)</a>
    }
}


<table class="table">
    <thead style="background: darkgrey">
    <tr>
        <th>
            @Html.DisplayName("Name")
        </th>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Total Hours")
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach(var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Key.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Value)
            </td>
        </tr>
    }
    </tbody>
</table>