@using Microsoft.AspNetCore.Identity
@using WahsKeyClubSite.Areas.Identity.Data
@model IEnumerable<WahsKeyClubSite.Models.ServiceHours>
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Service Hours";
}

@{
    if((bool) ViewData["YourHours"])
    {
        <a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-action="Submit">Log Service Hours</a>
    }
}

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="ViewHours" 
   asp-route-id="@ViewData["UserID"]">Entries</a>

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="UserQuarterlyTotals" asp-route-id="@ViewData["UserID"]">Quarterly Totals</a>

<a class="nav navbar-brand navbar-btn" style="background: lightblue" asp-controller="Hours" asp-action="UserMonthlyTotals" asp-route-id="@ViewData["UserID"]">Monthly Totals</a>

<table class="table">
    <thead style="background: darkgrey">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateSubmitted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfActivity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hours)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activity)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @{
        var hours = Model.ToList();
        hours.Sort((previous, current) => current.DateSubmitted.CompareTo(previous.DateSubmitted));
    }
    @foreach(var item in hours)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateSubmitted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfActivity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Activity)
            </td>
            <td>
                @{
                    if((bool) ViewData["YourHours"])
                    {
                        <a asp-action="Edit" asp-route-id="@item.ID" asp-route-date="@item.DateOfActivity" asp-route-hours="@item.Hours" asp-route-name="@item.Activity">Edit</a>
                        <br/>
                    }
                }
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>